Lab.Capas/Lab.Entities/bin
Lab.Capas/Lab.Entities/obj
Lab.Capas/NorthwindForms/bin
Lab.Capas/NorthwindForms/obj
Lab.Capas/TestResults
Lab.Capas/Lab.Logic/bin
Lab.Capas/Lab.Logic/obj
Lab.Capas/Lab.ResourseAcces/bin
Lab.Capas/Lab.ResourseAcces/obj
