@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ciudad Autonoma de Buenos Aires,<br />
    Argentina.<br />
    <abbr title="Phone">Phone:</abbr>
    11 5584 7606
</address>

<address>
</address>